body {
    font-family: "Libre Baskerville", serif;
    font-style: normal;
}

h1 {
    font-size: 20px; 
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
    text-align: left; 
    margin: 20px 150px; 
}

.intro-text {
    text-align: left;
    margin: 0px 0px 20px 150px;
    font-size: 1.6em;
}

.image-wrapper{
    display: grid;
    place-items: center;
    height: 100vh;
}

.team-images-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: auto;
    height: auto;
    padding: 20px 0;
}

.team-images-container img {
    width: 200px;               
    height: auto;                
}

.team-member {
    text-align: left;
    width: 200px;
}

.team-member img {
    width: 100%;
    height: auto;
}


.info {
    margin-top: 10px;
}

.name {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
}

.position {
    font-size: 0.9em;
    color: #777;  
    margin: 2px 0 0;
}